<form method="POST" class="register-form" id="register-form">
    {% csrf_token %}
    {#    <br>#}
    {#    {{ form.as_p }}#}
    {#    <br>#}
    <div class="form-group">
        <label for="{{ form.first_name.id_for_label }}"><i class="zmdi zmdi-account-o material-icons-name"></i></label>
        {{ form.first_name }}
        {{ form.first_name.errors }}
        {#        <input type="text" name="name" id="name" placeholder="Your Name"/>#}
    </div>
    <div class="form-group">
        <label for="{{ form.last_name.id_for_label }}"><i class="zmdi zmdi-account-o material-icons-name"></i></label>
        {{ form.last_name }}
        {{ form.last_name.errors }}
        {#        <input type="text" name="name" id="name" placeholder="Your Name"/>#}
    </div>
    <div class="form-group">
        <label for="{{ form.username.id_for_label }}"><i class="zmdi zmdi-account material-icons-name"></i></label>
        {{ form.username }}
        {{ form.username.errors }}
        {#        <input type="text" name="name" id="name" placeholder="Your Name"/>#}
    </div>

    <div class="form-group">
        <div class="">
            <label for="{{ form.email.id_for_label }}"><i class="zmdi zmdi-email"></i></label>
        {{ form.email }}
        </div>
        {{ form.email.errors }}
        {#        <input type="email" name="email" id="email" placeholder="Your Email"/>#}
    </div>

    <div class="form-group">
        <label for="{{ form.password1.id_for_label }}"><i class="zmdi zmdi-lock"></i></label>
        {{ form.password1 }}
        {{ form.password1.errors }}
        {#        <input type="password" name="pass" id="pass" placeholder="Password"/>#}
    </div>

    <div class="form-group">
        <label for="{{ form.password2.id_for_label }}"><i class="zmdi zmdi-lock-outline"></i></label>
        {{ form.password2 }}
        {{ form.password2.errors }}
        {#        <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>#}
    </div>

    {% comment %}
    <div class="form-group">
        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term"/>
        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all
            statements in <a href="#" class="term-service">Terms of service</a></label>
    </div>
    {% endcomment %}

    <div class="form-group form-button">
        <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
    </div>
</form>
