{% extends 'base.html' %}
{% load static %}
{% block title %}Sign In{% endblock %}

<!-- Sing in  Form -->
{% block signup-signin-content %}
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="{% static '/account/images/signin-image.jpg' %}" alt="sing up image"></figure>
                    <a href="{% url 'account:signup' %}" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">{{ form_heading }}</h2>
                    {% include 'account/signinform.html' %}

                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
