{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container my-3">
        <form class="row gx-3 w-50 mx-auto" method="post" novalidate>
            {% csrf_token %}
            <h2>Avtorizatsiya</h2>

            {% if form.non_field_errors %}
                <div class="invalid-feedback d-block">{{ form.non_field_errors }}</div>
            {% endif %}

            {% for field in form %}
                <div class="col-12 my-2">
                    {{ field.label_tag }}
                    <div class="input-group">
                        {% if field == form.username %}
                            <span class="input-group-text" id="basic-addon1">@</span>
                        {% endif %}
                        {{ field }}
                    </div>
                    {% if field.errors %}
                        <div class="invalid-feedback d-block">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Kirish</button>
                <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Registratsiya</a>
            </div>
        </form>
    </div>

{% endblock %}
